# Environments
venv/
env/
.env

# Python artifacts
__pycache__/
*.py[cod]
*$py.class
*.so

# Database
*.db
*.sqlite3

# Temporary / OS files
.DS_Store
Thumbs.db

# Machine Learning models (optional, remove if you want to push your model.pkl)
# backend/model.pkl

# IDE / Editor
.vscode/
.idea/
